<mat-toolbar>
  @if (showToggle) {
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
  }

  @if (showBranding) {
    <app-branding />
  }

  <span class="flex-fill"></span>

  <app-translate />

  <button mat-icon-button class="hide-small" (click)="toggleFullscreen()">
    <mat-icon>fullscreen</mat-icon>
  </button>

  <!-- Optional: Test button for adding notifications -->
  <button mat-icon-button class="hide-small" (click)="simulateNewNotification()" title="Add Test Notification">
    <mat-icon>add_alert</mat-icon>
  </button>

  <app-notification 
    class="hide-small" 
    [messages]="notifications" />

  <app-user />
</mat-toolbar>
